@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvendio al Club Campestre <br>  Vida Verde </h1>
    <br>
    <button >
       <a asp-controller="Registro" asp-action="Index">REGISTRARSE</a> 
    </button>
</div>
